* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{  
  background-color: #435EBE !important;
  height: 65px;
  width: 100%;
  color: 'white' !important;
}

.ma-navbar-logo{
  margin-left: 15px;
  height: 40px !important;
}

.header-title{
  padding-top: 10px;  
  color: white !important;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-weight: bold;
}

.second-nav{
  margin-top: 10px;
}

.sqar-label{
  color: #435EBE !important;
  font-size: 1.8rem !important;
}

.view-dropdown{
  background-color: #435EBE !important;
  border-color:  #435EBE !important;
}

.view-dropdown:hover{
  background-color: #6495ED !important;
  border-color: #6495ED !important;
  color: white !important;
}

.search-button{
  transition-duration: 0.4s !important;
  border-width: 2px !important;
  border-color: #435EBE !important;
  background-color: #435EBE !important;
  color: white !important;
}

.search-button:hover{
  background-color: #6495ED !important;
  border-color: #6495ED !important;
  color: white !important;
}

.table-container{
  overflow-x: scroll;
  margin-left: 15px;
  margin-right: 15px;
  height: 73vh;
  margin-bottom: 20px;
}

.pagination{
  margin-right: 15px !important;
  float: right;
}

th{
  background-color: #435EBE !important;
  border-color: gray !important;
  color: white !important;
}

.process-sqar-button{
  transition-duration: 0.4s !important;
  border-width: 2px !important;
  border-color: #435EBE !important;
  background-color: #435EBE !important;
  color: white !important;
}

.process-sqar-button:hover{
  background-color: #32478f !important;
  border-color: #32478f !important;
  color: white !important;
}

/*LOGIN*/
.login-card-header{
  background-color: #435EBE !important;
  color: white !important;
}

.login-button{
  background-color: #435EBE !important;
  border-color: #435EBE !important;;
}

.login-button:hover{
  background-color: #6495ED !important;
  border-color: #6495ED !important;
}

.login-card{
  box-shadow: 3px 3px 20px #888888;
}

.card-footer{
  background-color: #e4e4e4 !important;
}

.card-header{
  background-color: #435EBE !important;
  color: white !important;
}

.align-right{
  float: right;
}

.defect-rank-dropdown{
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  color: black !important;
  text-align: center !important;
  background-color: white !important;
  border-color: white !important;
}

.ma-white-font{
  color: white !important;
}

.ma-blue-button{
  background-color: #435EBE !important;
  border-color: #435EBE !important;
}

.ma-blue-button:hover{
  background-color: #364b98 !important;
  border-color: #364b98 !important;
  color: white !important;
}

.ma-blue-border{
  border-color: #435EBE !important;
}

.ma-blue-background{
   background-color: #435EBE !important;
}

.ma-green-button{
  background-color: #198754 !important;
  border-color: #198754 !important;
}

.ma-green-button:hover{
  background-color: #13653f !important;
  border-color: #13653f !important;
  color: white !important;
}

.ma-red-button{
  background-color: #DC3545 !important;
  border-color: #DC3545 !important;
}

.ma-red-button:hover{  
  background-color: #A52834 !important;
  border-color: #A52834 !important;
  color: white !important;
}

.ma-gray-button{
  background-color: #6C757D !important;
  border-color: #6C757D !important;
  color: white !important;
}

.ma-gray-button:hover{
  background-color: #51585e !important;
  border-color: #51585e !important;
  color: white !important;
}

.ma-disabled-backcolor{
  background-color: #E5E5E5 !important;
}

.user-icon-container {
  position: relative;
  /* border-left-style: solid; */
  /* border-color: #435EBE; */
  border: 'none';
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.user-icon-container:hover .image {
  opacity: 0.6;
}

.user-icon-container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  background-color: #DC3545;
  font-size: 13px;
  font-family: sans-serif !important;
  font-weight: normal !important;
  padding-left: 10px;
  padding-right: 10px;
}

.selected-tab-button{
  background-color: #6495ED !important;
  border-color: #6495ED !important;
  color: white !important;
}

.notification {
  transition: background-color 0.3s ease; 
}

.notification:hover {
  /* Styles applied when hovering over the notification */
  background-color: #ececec; /* Slightly darker gray background */
  color: #000000;            /* Slightly darker text color */
}